# --- Security & Secrets ---
.env
*.pem
*.key
secrets.json
shadow_gate.key
master.key
# Ignore the hidden AWS config folder
.aws/

# --- Python Environment ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# --- Deployment & OS ---
.DS_Store
.vscode/
.idea/
*.log
docker-compose.override.yml

# ---- Docker ----
*.log
docker-compose.override.yml
.docker/

# ---- Build artifacts ----
build/
dist/
*.egg-info/
